@import "./mediaquery.scss";

//--- GLOBALS ---
a {
  text-decoration: none;
}
.primaryBtn {
  background: #004494;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.4s;

  &:hover {
    background: #e4ff1b;
    color: black;
  }
}
.secondaryBtn {
  color: #004494;
  font-size: 0.9rem;
}

//--- NAVBAR ---
nav {
  .navContent {
    position: relative;

    .searchBtn {
      position: relative;
      cursor: pointer;

      .searchBG {
        width: 100px;
      }

      .searchText {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
      }
      .searchIcon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
    }

    .searchInput {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      height: 100%;

      input {
        height: 100%;
        width: 800px;
        border: none;
        background: #004494;
        position: relative;

        // &:before {
        //     content: "";
        //     position: absolute;
        //     width: 400px;
        //     height: 10px;
        //     background: white;
        //     top: 10px;
        //     left: 0;
        // }

        &::placeholder {
          color: white;
        }
      }

      .searchCloseBtn {
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        padding: 10px;
      }
    }

    .form-hidden {
      display: none;
    }
    .form-visible {
      display: block;
    }
  }
}
//--- NAVBAR END ---
//--- CAROUSEL ---
.carousel {
  background: url("../ecra-assets/Vector/vector-1.svg");
  background-position: bottom;
  height: 500px;
  position: relative;

  .carousel-item-left {
    .event {
      color: #004494;
    }
    h1 {
      width: 300px;

      @include sm {
        font-size: 3.3rem;
      }
    }

    h4 {
      font-size: 1rem;
      font-weight: 300;

      @include sm {
        padding: 0 60px;
        font-size: 1.2rem;
        color: white;
        background: rgba($color: #000000, $alpha: 0.5);
        margin: 0 30px;
      }
    }
    @include sm {
      background: url("../ecra-assets/Images/Startseite/header-image.png");
      background-position-x: -50px;
    }
  }
  .carousel-item-rigth {
    position: relative;
    height: 500px;

    img {
      position: absolute;
      top: -380px;
      left: 20px;
      width: 1100px;
    }
    .img2 {
      opacity: 0.5;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    background: #004494;
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 100%;

    @include sm {
      display: none;
    }
  }

  .carousel-control-prev {
    left: 48%;
    transform: translate(-50%, -50%);
  }

  .carousel-control-next {
    left: 52%;
    transform: translate(-50%, -50%);
  }

  .carousel-control-prev-icon {
    background: url("../img/arrow_right.png") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem;
    height: 1rem;
  }

  .carousel-control-next-icon {
    background: url("../img/arrow_left.png") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem;
    height: 1rem;
  }
}
//--- CAROUSEL END ---
//--- NEWS ---
.card {
  border: none;
}
//--- NEWS END ---
//--- FOOTER ---
footer {
  height: 400px;
  padding: 30px 0;
  background: #004494;
  color: white;
}
//--- FOOTER END ---


