a {
  text-decoration: none;
}

.primaryBtn {
  background: #004494;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.4s;
}
.primaryBtn:hover {
  background: #e4ff1b;
  color: black;
}

.secondaryBtn {
  color: #004494;
  font-size: 0.9rem;
}

nav .navContent {
  position: relative;
}
nav .navContent .searchBtn {
  position: relative;
  cursor: pointer;
}
nav .navContent .searchBtn .searchBG {
  display: flex;
  width: 100px;
  height: 60px;
}
nav .navContent .searchBtn .searchText,
nav .navContent .searchBtn .searchIcon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
nav .navContent .searchBtn .searchText {
  left: 40%;
  color: white;
}
nav .navContent .searchBtn .searchIcon {
  right: 3px;
}
nav .navContent .searchInput {
  position: absolute;
  top: 0;
  right: 70px;
  display: flex;
  height: 100%;
}
nav .navContent .searchInput::before {
  content: "";
  position: absolute;
  background: white;
  width: 86%;
  height: 1px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
nav .navContent .searchInput::after {
  content: "";
  position: absolute;
  z-index: 1;
  background: url("../img/search.svg") no-repeat scroll 7px 7px;
  bottom: 30px;
  right: 45px;
  width: 30px;
  height: 30px;
}
nav .navContent .searchInput input {
  height: 100%;
  width: 680px;
  border: none;
  background: rgb(0, 68, 148);
  background: radial-gradient(circle, rgb(0, 68, 148), rgb(0, 68, 148) 99%, rgb(255, 255, 255) 99%);
  position: relative;
  padding-left: 50px;
  color: white;
}
nav .navContent .searchInput input::placeholder {
  color: white;
}
nav .navContent .searchInput .searchCloseBtn {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 10px;
}
nav .navContent .form-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
nav .navContent .form-visible {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}

.carousel {
  background: url("../ecra-assets/Vector/vector-1.svg");
  background-position: bottom;
  height: 500px;
  position: relative;
}
.carousel .carousel-item-left .event {
  color: #004494;
}
.carousel .carousel-item-left h1 {
  width: 300px;
}
@media (max-width: 576px) {
  .carousel .carousel-item-left h1 {
    font-size: 3.3rem;
  }
}
.carousel .carousel-item-left h4 {
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 576px) {
  .carousel .carousel-item-left h4 {
    padding: 0 60px;
    font-size: 1.2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 30px;
  }
}
@media (max-width: 576px) {
  .carousel .carousel-item-left {
    background: url("../ecra-assets/Images/Startseite/header-image.png");
    background-position-x: -50px;
  }
}
.carousel .carousel-item-rigth {
  position: relative;
  height: 500px;
}
.carousel .carousel-item-rigth img {
  position: absolute;
  top: -380px;
  left: 20px;
  width: 1100px;
}
.carousel .carousel-item-rigth .img2 {
  opacity: 0.5;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  background: #004494;
  opacity: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 100%;
}
@media (max-width: 576px) {
  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    display: none;
  }
}
.carousel .carousel-control-prev {
  left: 48%;
  transform: translate(-50%, -50%);
}
.carousel .carousel-control-next {
  left: 52%;
  transform: translate(-50%, -50%);
}
.carousel .carousel-control-prev-icon {
  background: url("../img/arrow_right.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 1rem;
}
.carousel .carousel-control-next-icon {
  background: url("../img/arrow_left.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 1rem;
}

.card {
  border: none;
}

footer {
  height: 400px;
  padding: 30px 0;
  background: #004494;
  color: white;
}/*# sourceMappingURL=style.css.map */